# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Django
*.log
db.sqlite3
db_backup.sqlite3
staticfiles/

# Environment variables
.env

# IDE / editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Database export
data.json
